@font-face { font-family: 'font1';
	src: url('ArchitectsDaughter-Regular.ttf')  format('woff2')}


body {
background-image: url("https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjI0MX0&w=1000&q=80");
text-align: center;
background-repeat:no-repeat;
background-size:cover;
color: #ff3385;
font-family:sans-serif;
}

.video{ width:727px; height:409px; }

#title{font-size:35px;color: #A11C23;text-align:center;font-family:font1;}
#text{font-size:30px;}

nav#menu {
  margin-top: 50px;
  background:  #db4dff;
  text-align: center;
  height: 50px;
  width: 100%;
}

nav#menu ul {
  padding: 0;
  background:  #b3ffe6;
  margin: 0 auto;
  display: inline-block;
  height: 50px;
}

nav#menu ul li {
  float: left;
  padding: 0 20px;
  background: #db4dff;
  list-style: none;
  margin-right: 5px;
  line-height: 50px;
  height: 50px;
   transition: margin 0.1s ease-in-out;
}

nav#menu ul li:nth-child(1) {
  margin-left: 5px;
}

nav#menu ul li.active {
  background: #2980b9;
}

nav#menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
}

nav#menu h1#sitename {
  font-size: 1.2em;
  line-height: 50px;
  margin: 0;
  position: absolute;
  left: 0.5em;
  color: white;
  opacity: 0;
   transition: opacity 0.1s ease-in-out;
}
nav#menu.scrolled {
  margin: 0;
  position: fixed;
  top: 0;
}

nav#menu.scrolled ul li {
  margin: 0;
}

nav#menu.scrolled h1#sitename {
  opacity: 1;
}
